<header>
  <nav class="navbar">
    <p class="navbar-brand"><strong>Quiz App</strong></p>
    <div class="navbar-pages">
      <form class="user" method="POST" action="/logout">
        <p>Logged in as: username</p>
        <button type="submit" class="logout-button">Logout</button>
      </form>
      <div class="login">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
      <a href="/create">Create quiz</a>
      <a href="/prev">View quizzes</a>
    </div>
  </nav>
</header>
