<header>
  <nav class="navbar">
    <div class="main-nav">
      <p class="navbar-brand"><strong>Quizzle</strong></p>
      <button id="hamburger" class="fas fa-bars"></button>
    </div>
    <div class="navbar-pages">
      <div class="navbar-right">
        <form class="user" method="POST" action="/logout">
          <p>Logged in as: username</p>
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <div class="login">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
      </div>
      <div class="my-quizzes">
        <a href="/">Home</a>
        <a href="/create">Create quiz</a>
        <a href="/prev">My quizzes</a>
      </div>
    </div>
  </nav>
</header>
