<header>
  <nav class="navbar">
    <p class="navbar-brand">Quiz App</p>
    <div class="navbar-pages">
      <p>Create quiz</p>
      <p>Create question</p>
      <p>Take quiz</p>
      <p>View quizes</p>
      <p>Share quiz</p>
      <p>View quiz results</p>
      <div class="login">
        <button>Login</button>
        <p>Register</p>
      </div>
      <div class="user">
        <p>Logged in as: username</p>
        <button>Logout</button>
      </div>
    </div>
  </nav>
</header>
