@use 'partial';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: partial.$color-light-grey;
  margin-top: 65px;
  min-height: 76vh;
}

#quizzes-container {
  width: 100%;
}

.single-quiz, .public-quiz, .create-quiz {
  background-color: partial.$color-quiz-background;
  margin: 1em 0em 1em 0.4em;
  padding: 0.7em;
  border: solid 1px;
  border-radius: 10px;
  width: 95%;
}

.create-quiz {
  display: flex;
  flex-direction: column;
}

textarea {
  color: partial.$color-light-grey;
  background-color:partial.$color-black;
}

h1 {
  display: flex;
  justify-content: center;
}

.public-quiz-title, .create-quiz-title {
  font-weight: bold;
  color: #D0ABFC;
}

.submit-quiz {
  margin-top: 10px;
}

// Tablet
@media screen and (min-width: 768px) {
  main {
    margin-top: 110px;
  }
}

// For desktop
@media screen and (min-width: 1024px) {
  #quizzes-container, .public-quiz-container {
    width: 70%;
  }
}
