@use 'partial';

#bootstrap-div {
  padding: 0;
}

nav, .navbar-pages, .user, .login, .my-quizzes {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: partial.$color-navbar;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px partial.$color-shadow;
  z-index: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  color:partial.$color-navbar-complementary;
  font-family: 'Carter One', cursive;
  font-size:  1.15em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#hamburger {
  border: none;
  background-color: partial.$color-navbar;
}

.navbar-pages, .login, .my-quizzes {
  align-items: center;
}

.navbar-pages {
  display: none;

  a {
    color: #000000;
    text-decoration: none;
    padding: 0 2em 0 2em;
  }
  a:hover {
    color: #FFFFFF;
    background-color: partial.$color-navbar-complementary;
    border-radius: 20px;
  }
}

.user {
  margin-bottom: 0.2em;

  p {
    margin-bottom: 0.2em;
  }
}

// For tablets
@media screen and (min-width: 768px) {
  nav, .navbar-pages, .user, .login, .my-quizzes, .navbar-right {
    display: flex;
    flex-direction: row;
  }

  .navbar-pages {
    justify-content: space-between;
    width: 100%;

    a {
      padding: 0 1em 0 1em;
    }
  }

  #hamburger {
    display: none;
  }

  .navbar-right {
    order: 2;
  }

  .user {
    align-items: center;

    p {
      margin: 0 10px 0 10px;
    }
  }

  .logout-button {
    padding: 0.05em 0.5em 0.05em 0.5em;
  }
 }

 // For desktop
 @media screen and (min-width: 1024px) {

 }
