@use 'partial';

#bootstrap-div {
  padding: 0;
}

nav, .navbar-pages, .user, .login {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: partial.$color-navbar;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px partial.$color-shadow;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  font-size:  1.15em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar-pages, .login {
  align-items: center;
}

.navbar-pages {
  display: none;

  a {
    color: black;
    text-decoration: none;
  }
}

.user {
  margin-bottom: 0.2em;

  p {
    margin-bottom: 0.2em;
  }
}

.logout-button {
  color: white;
  background-color: rgb(172, 2, 2);
  padding: 0.2em 0 0.2em 0;
  border-radius: 10px;
}
