@use 'partial';

#bootstrap-div {
  padding: 0;
}

nav, .navbar-pages, .user, .login, .my-quizzes {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: partial.$color-navbar;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px partial.$color-shadow;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  font-family: 'Carter One', cursive;
  font-size:  1.15em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#hamburger {
  border: none;
  background-color: partial.$color-navbar;
}

.navbar-pages, .login, .my-quizzes {
  align-items: center;
}

.navbar-pages {
  display: none;

  a {
    color: #000000;
    text-decoration: none;
    padding: 0 2em 0 2em;
  }
  a:hover {
    color: #FFFFFF;
    background-color: partial.$color-navbar-complementary;
    border-radius: 5px;
  }
}

.user {
  margin-bottom: 0.2em;

  p {
    margin-bottom: 0.2em;
  }
}

.logout-button {
  color: #FFFFFF;
  background-color: partial.$color-red;
  padding: 0.2em 0 0.2em 0;
  border-radius: 10px;
}
